:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f3f3f3;

  main {
    flex: 1;
    width: 768px;
    padding: 20px 0;
    margin: auto;
    overflow: auto;
  }
}
