.checkout-container {
  padding: 20px;
  background-color: white;
  border-radius: 6px;

  form {
    height: 100%;

    .checkout-form {
      display: flex;
      flex-direction: column;
      height: 100%;

      mat-form-field {
        box-sizing: border-box;
        padding: 0 5px;
      }

      .checkout-form__address-form {
        display: flex;
        flex-flow: row wrap;

        & > mat-form-field {
          &:first-child {
            width: 100%;
          }
          width: 50%;
        }
      }

      .checkout-form__actions {
        text-align: center;
        margin-top: 18px;

        button[mat-flat-button] {
          padding: 0 35px;
        }
      }
    }
  }
}
